{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Eliseu Correa</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>